<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="./../../css/stylesheet.css">
</head>

<title></title>

<body>

    {{>header}}
   
    <div id="covid">
        <p>

            "What we know is it causes pneumonia and then doesn't respond to antibiotic treatment, which is not
            surprising, but then in terms of mortality, SARS kills 10% of the individuals," Poon, a virologist at the
            School of Public Health at The University of Hong Kong, said.
            It's not clear how deadly the Wuhan coronavirus will be, but fatality rates are currently lower than both
            MERS and SARS. Experts stress that it will change as the outbreak develops.
            <br>
            <br>
            COVID-19 appeared in Wuhan, a city in China, in December 2019. Although health officials are still tracing
            the exact source of this new coronavirus, early hypotheses thought it may be linked to a seafood market in
            Wuhan, China. Some people who visited the market developed viral pneumonia caused by the new coronavirus. A
            study that came out on Jan. 25, 2020, notes that the individual with the first reported case became ill on
            Dec. 1, 2019, and had no link to the seafood market. Investigations are ongoing as to how this virus
            originated and spread. All coronaviruses sport spiky projections on their outer surfaces that resemble the
            points of a crown, or "corona" in Latin, according to the Centers for Disease Control and Prevention (CDC).
            Seven known coronaviruses can infect humans, including the novel coronavirus identified in 2019.

            Beneath a coronavirus's pronged exterior lies a round core shrouded in proteins and a "greasy" membrane, Jan
            Carette, an associate professor of microbiology and immunology at the Stanford University School of
            Medicine, told Live Science in an email. 

         
            <br>
            <br>
            Several coronaviruses utilize animals as their primary hosts and have evolved to infect humans, too. Precursors to both SARS and MERS coronaviruses appear in bats. The SARS virus jumped from bats to civets (small, nocturnal mammals) on its way into people, while MERS infected camels before spreading to humans. Evidence suggests that the novel coronavirus also jumped from bats to humans after passing through an intermediate carrier, although scientists have not yet identified the infectious middleman creature.

The four most common human coronaviruses — named 229E, NL63, OC43 and HKU1 — did not jump from animals to humans but rather utilize humans as their natural hosts, according to the CDC. These human-borne coronaviruses "have presumably evolved to maximize spread amongst the population rather than pathogenicity," meaning the viruses may opt to maximize their spread rather than harm their human host, Carette said. This may explain why coronaviruses that are transmitted from animals seem to cause more-severe diseases in humans, but the idea remains speculative, he added.
        </p>
    </div>
      

</body>


</html>