<html>

    <!DOCTYPE html>

    <html>
        <head>
    <link rel="stylesheet" href="././../../css/stylesheet.css">
    <script type="javascript" src="./script/app.js"></script>
        </head>
    
        <title></title>

        <body>
            <div id= "test"></div>
             <div id = "top"><div id ="first">C</div>ovid-19 Tracker</div>
             <div id="menu">
                 <a href="#">Home</a>
                 <a href="#">Tracker </a>
                 <a href="#">Symptoms</a>
                 <a href="#">Preventions</a>
             </div>


        </body>
        
        
        </html>




</html>