<html>

    <!DOCTYPE html>

    <html>
        <head>
   <link rel="stylesheet" href="././../../css/stylesheet.css">
    <script type="javascript" src="./script/app.js"></script>
        </head>
        <title></title>

        <body>
            <div id= "test"></div>
             <div id = "top"><div id ="first">C</div>ovid-19 Tracker</div>
             <div id="menu">
                 <a href="/">Home</a>
                 <a href="/tracker">Tracker </a>
                 <a href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html?CDC_AA_refVal=https%3A%2F%2Fwww.cdc.gov%2Fcoronavirus%2F2019-ncov%2Fabout%2Fsymptoms.html" target="_blank">Symptoms</a>
                 <a href="https://www.healthline.com/health/coronavirus-prevention" target="_blank">Preventions</a>
             </div>

            


        </body>
        
        
        </html>




</html>